@font-face {
  font-family:"80s";
  src:url("80final.ttf");
  font-weight:normal;
}

@font-face {
  font-family:"cassette";
  src:url("cassettes.ttf");
  font-weight:bold;
}

h1 {
  color:darkblue;
  font-family:"80s";
  font-size:50px;
  margin-top:0px;
}

h2 {
  color:darkblue;
  font-family:"80s";
  font-size:30px;
  padding:0px;
}

label {
  padding:10px;
  margin:0px;
  font-size:30px;
  font-family:"cassette";
  color:darkblue;
}

body {
  background-image:url(https://s-media-cache-ak0.pinimg.com/originals/50/12/f6/5012f64114418a415e741cf5131956ce.jpg);
  background-repeat:repeat;
  background-size:contain;
}

img {
  position:fixed;
  bottom:0px;
  right:0px;
}

div {
  text-align:center;
  border:2px dashed darkblue;
}

button {
    display:inline-block;
    padding:10px 15px;
    font-size:24px;
    cursor:pointer;
    text-align:center;
    font-family:straw;
    margin-bottom:50px;
    color:white;
    background-color:#72C745;
    border:none;
    border-radius:15px;
    box-shadow:0 9px #3e7222;
  }

#button {
  display:inline-block;
}
